name: uac_companion
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  sqflite: ^2.3.2
  path_provider: ^2.1.1
  get: ^4.6.5
  latlong2: ^0.9.1
  flutter_map: ^7.0.2
  fl_location: ^5.0.0
  shared_preferences: ^2.5.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true